<header class="header">
  <img
    src="https://th.bing.com/th/id/R.81d037d22b9423cd3ce8bfceff6cf2cd?rik=8zpYdXGF%2bG2lcg&pid=ImgRaw&r=0"
    alt="logo"
    class="header_logo"
  />
  <aside class="header_aside" [class.active]="isMenuActive">
    <nav class="header_aside_nav">
      <ul class="header_aside_nav_list">
        <li
          class="header_aside_nav_list_element"
          *ngFor="let link of headerLinks; index as i"
        >
          <a
            class="header_aside_nav_list_element_link"
            [routerLink]="link.url"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ link.name }}</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <button
    class="header_blur-button"
    [class.active]="isMenuActive"
    (click)="toggleMenu()"
    aria-label="Cerrar menú"
    type="button"
  ></button>
  <button
    class="header_button"
    (click)="toggleMenu()"
    [class.active]="isMenuActive"
    type="button"
    aria-label="Alternar menú"
  >
    <span class="header_button_hamburger" [class.active]="isMenuActive"></span>
  </button>
</header>
