:root {
  --color-green-primary: #60ffd9;
  --color-green-secondary: #009076;
  --color-background-primary: #081426;
  --color-background-secondary: #0e1b33;
  --color-blue-primary: #b0cdf1;
  --color-blue-secondary: #6994c9;
  --color-grey-primary: #a9a297;
  --color-border-primary: #1c2a43;
  --color-border-secondary: #41629b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--color-background-primary);
  color: var(--color-grey-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
